html, body {
	font-family: 'Titillium Web', sans-serif;
	background: #333333;
}

.row {
	padding: 30px 0px;
}

.card {
	border: none;
	background: none;
}

iframe {
	border: none;
}

.card-img, .card-img-top {
	max-width: 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    height: 100px;
}


.card-title {
	text-align: center;
	letter-spacing: 1px;
	color: #666666;
}

.footer-content {
	padding: 100px 0px;
}

.footer-content h6 {
	text-align: center;
	color: #999999;
	letter-spacing: 1px;
}